<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="styles/style.css" />
</head>
<body>

<div id="app">
    <user-data :user="user"/>
</div>

<script id="user-component">
    <form action="#" class="form">
        <div class="form__row">
            <label class="form__label">First name</label>
            <input type="text" class="form__input" v-model="user.firstName"/>
        </div>
        <div class="form__row">
            <label class="form__label">Last name</label>
            <input type="text" class="form__input" v-model="user.lastName"/>
        </div>
        <div class="form__row">
            <label class="form__label">Age</label>
            <input type="text" class="form__input" v-model="user.age"/>
        </div>
        <div class="form__row">
            <label class="form__label">Email</label>
            <input type="email" class="form__input" v-model="user.email"/>
        </div>
        <div class="form__row">
            <label class="form__label">Phone</label>
            <input type="text" class="form__input" v-model="user.phone"/>
        </div>
        <div class="form__row">
            <label class="form__label">Company</label>
            <input type="text" class="form__input" v-model="user.company"/>
        </div>
        </form>
</script>

<script src="js/lib/vue.js"></script>
<script src="js/userJson.js"></script>

<script>
    var userData = {
        name: 'UserData',
        template: '#user-component',
        props: {
            user: {
                type: Object,
                required: true
            }
        }
    };

    var app = new Vue({
        el: '#app',
        components: {
            'user-data': userData
        },
        data: function() {
            return {
                user: json[1]
            }
        }
    });
</script>
</body>
</html>