th, td {
    padding: 10px;
}

table {
	margin: 30px;
}

.form {
	margin: 30px;
}

.form__row {
	margin-bottom: 15px; 
}

.form__label {
	width: 100px;
}

.form__input {
	width: 250px;
	padding: 5px 10px;
}